.game_container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 5px;
    margin: 0 auto;
    width: fit-content;
    
    
}

#timer-container{
    text-align: center;
  
}




.gameCell{
    width: 100px;
    height: 100px;
    border: 2px solid #999A0B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.2s;
    
}
.gameCell:hover {
    background-color: #f5f5f5;
}

h1 , h2 {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    
}





#buttonStyle {
    background-color: #999A0B;
    border: none;
    color: whitesmoke;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#buttonStyle:hover {
    background-color: #B7B808;
}






form{
    text-align: center;
}

#playAgain{
    color:red;
    display: none;
    cursor: pointer;
    margin: auto;
}

body {
    background-color: #F0F0F0; /* soft light gray */
    font-family: 'Segoe UI', sans-serif;
    padding: 40px;
}


